* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.wrapper {
    height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
    border: 2px solid red;
}

.container {
    margin: auto;
    width: 80%;
}

.row-slider {
    display: flex;
    justify-content: center;
}

.items {
    position: relative;
    width: 50%;
}

.fa-angle-down,
.fa-angle-up {
    position: absolute;
    color: red;
    cursor: pointer;
    font-size: .8rem;
    background-color: rgba(154, 156, 156, 0.745);
    aspect-ratio: 1;
    height: 12px;
    text-align: center;
    border-radius: 50%;
     
}

.fa-angle-up {
    top: 5%;
    left: 50%;
    transform: translate(-50%);
}

.fa-angle-down {
    bottom: 5%;
    left: 50%;
    transform: translate(-50%);
    margin-bottom: 3px;
}