* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.wrapper {
    height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
    border: 2px solid red;
}
img{
    display: block;
    width: 100%;
}
.container {
    margin: auto;
    width: 70%;
}

.row-slider {
    
    position: relative;
    display: flex;
    justify-content: center;
}

.items {

     overflow: hidden;
    
}

.item {
  object-fit: cover;
    display: none;
}

.item.active {
    max-height: 300px;
    overflow: hidden;
    display: block;
}
.prev,
.next {
    position: absolute;
    color: red;
    cursor: pointer;
    font-size: .8rem;
    background-color: rgba(154, 156, 156, 0.745);
    aspect-ratio: 1;
    height: 12px;
    text-align: center;
    border-radius: 50%;

}

.prev {
    top: 5%;
    left: 50%;
    transform: translate(-50%);
}

.next {
    bottom: 5%;
    left: 50%;
    transform: translate(-50%);
    margin-bottom: 3px;
}